.images
  h2(ng-if="::mobile") {{::page.data.fields.title.value}}

  .item(ng-repeat="asset in page.data.assets track by asset._id" id="{{asset._id}}")
    div(ng-switch="page.productItem.type" fullsize-image)
      imago-video(data="asset" ng-switch-when="video")
      imago-image(data="asset" ng-switch-default lazy="false" align="left center")

.info(stop-scroll)

  h2(ng-if="::!mobile") {{::page.data.fields.title.value}}

  .tabs
    button.information(ng-click="page.tab = 'information'"
      ng-class="{active: page.tab === 'information'}") Information

    .information.text(
      ng-bind-html="page.data.fields.information.value"
      ng-show="page.tab === 'information'")

  //- pre {{page.productItem.frameColor}}
  .options.size
    label Size — {{page.productItem.size || 'Choose'}}
    .option(
      ng-repeat="size in page.productItem.options.size track by size.normname"
      ng-class="{selected: size.name === page.productItem.size}")
      button(
        ng-click="page.productItem.setOption('size', size.name)"
        title="{{::size.name}}"
        class="{{::size.normname}}")
    .error(ng-show="page.productItem.error && !page.productItem.size") Please choose a size

  .message
    .low-stock(ng-show="page.productItem.selected.stock < 9 && !page.productItem.selected.lowstock && !page.productItem.selected.stock <= 0 && !page.productItem.selected.presale") only a few left
    .low-stock(ng-show="page.productItem.selected.lowstock && page.productItem.selected.stock !== 1 && !page.productItem.selected.presale") {{page.productItem.selected.stock}} items left
    .low-stock(ng-show="page.productItem.selected.stock === 1 && !page.productItem.selected.presale") 1 item left
    .no-stock(ng-show="(page.productItem.selected.stock <= 0 || !page.productItem.selected.stock) && !page.productItem.selected.presale && page.productItem.selected") Sold Out
    .not-available(ng-show="page.productItem.selected === 0") Sorry, this combination is not available
    .presale(ng-show="page.productItem.selected.presale") Presale: item will ship once available

  .description(ng-bind-html="page.productItem.selected.fields.description.value")

  imago-find-price(
    ng-hide="page.productItem.selected === 0"
    attributes="['size']"
    variants="page.productItem.variants"
    product="page.productItem")

  button.addToCart(
    type="button"
    ng-click="page.imagoCart.add(page.productItem.selected, ['size'], ['title', 'description'])"
    ng-disabled="(page.productItem.selected.stock <= 0 || !page.productItem.selected.stock) && !page.productItem.selected.presale"
    analytics-on="click"
    analytics-if="page.productItem.selected.stock > 0 || page.productItem.selected.presale"
    analytics-event="AddToCart"
    ) add to bag

.images
  .item
    imago-image(data="page.extraImages[1]" lazy="false")
